{% extends 'base.html' %}

{% block subnavbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold text-danger" href="{% url 'clientes:cliente_index' %}">
            Módulo Ventas
        </a>
        <div class="navbar-nav">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Transacciones
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'ventas:cotizacion_list' %}">Cotizaciones</a></li>
                    <li><a class="dropdown-item " href="{% url 'ventas:pedido_list' %}">Pedidos</a></li>
                    <li><a class="dropdown-item " href="{% url 'ventas:factura_list' %}">Facturas</a></li>
                    <li><a class="dropdown-item" href="{% url 'ventas:cxc_list' %}">Cuentas por Cobrar</a></li>
                </ul>
            </div>
            <!-- Reportes -->
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Reportes
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'ventas:reporte_cxc_saldos' %}">Saldos por Cobrar</a></li>
                    <li><a class="dropdown-item" href="{% url 'ventas:reporte_cxc_aging' %}">Antigüedad de Saldos (Aging)</a></li>
                    <li><a class="dropdown-item" href="{% url 'ventas:reporte_cxc_vencimientos' %}">Vencimientos Próximos</a></li>
                    <li><a class="dropdown-item" href="{% url 'ventas:reporte_cxc_clientes_mayor_saldo' %}">Clientes con Mayor Saldo</a></li>
                </ul>
            </div>
        </div>

        </div>
    </div>
</nav>
{% endblock %}