<!-- materiales/templates/materiales/base_materiales.html -->
{% extends 'base.html' %}

{% block subnavbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold text-primary" href="{% url 'materiales:material_index' %}">
            Módulo Materiales
        </a>
        <div class="navbar-nav">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="catalogosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Catálogos
                </a>
                <ul class="dropdown-menu" aria-labelledby="catalogosDropdown">
                    <li>
                        <a class="dropdown-item {% if request.resolver_match.url_name == 'material_list' or 'material_' in request.resolver_match.url_name %}active{% endif %}"
                           href="{% url 'materiales:material_list' %}">
                            Materiales
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item {% if 'categoria_' in request.resolver_match.url_name %}active{% endif %}"
                           href="{% url 'materiales:categoria_list' %}">
                            Categorías
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item {% if 'almacen_' in request.resolver_match.url_name %}active{% endif %}"
                           href="{% url 'materiales:almacen_list' %}">
                            Almacenes
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav-item dropdown">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="reportesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Reportes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="reportesDropdown">
                        <li>
                            <a class="dropdown-item {% if request.resolver_match.url_name == 'material_list' or 'material_' in request.resolver_match.url_name %}active{% endif %}"
                               href="{% url 'materiales:reporte_existencias' %}">
                                Existencias
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>
{% endblock %}